.label {
    -fx-background-color: rgba(0, 255, 191, 0.5); /* Less opaque color */
    -fx-border-color: #d55e00 #009e73 #cc79a7 #0072b2;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-font-size: 16px; /* Increase font size */
    -fx-padding: 10px; /* Increase box size */
}

.reply-label {
    -fx-background-color: rgba(0, 221, 255, 0.5); /* Less opaque color */
    -fx-border-radius: 1em 1em 1em 0;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-font-size: 16px; /* Increase font size */
    -fx-padding: 10px; /* Increase box size */
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

